<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/confirmedDelete}" th:object="${patient}" th:method="delete">

    <input type="hidden" name="id" th:value="${patient.getId()}">

    <p> Vous êtes sur le point de supprimer le dossier de <span th:text="${patient.getFirstName}"></span> <span
            th:text="${patient.getLastName}"></span><br>
        <input type="submit" value="Confirmer la suppression">

</form>

</body>
</html>