<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <label for="email">Username:</label>
    <input type="text" id="email" name="email"/>
    <br/>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"/>
    <br/>
    <label for="rememberMe">Remember Me:</label>
    <input type="checkbox" id="rememberMe" name="rememberMe"/>
    <br/>
    <button type="submit">Login</button>
</form>
<div th:if="${error}" th:text="${error}"></div>
</body>
</html>